*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

@font-face {
    font-family: Graphik;
    src: url("font/GraphikMedium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'Graphik Regular';
    src: url("font/GraphikRegular.otf") format("opentype");
    font-weight: 400;
}

body {
    overflow-y: hidden;
    background-color: #181818;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 6%;
}

.nav-cabeçalho {
    display: flex;
    flex-direction: row;
    gap: 15%;
    font-family: Graphik, 'sans-serif';
    padding: 3%;
}

.nav-cabeçalho .item-cabeçalho {
    transition-duration: 0.4s;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}

.button-cabeçalho {
    display: flex;
    flex-direction: row;
}

.button {
    transition-duration: 0.4s;
    border: 1px solid #FFFFFF;
    width: 139px;
    height: 52px;
    color: #FFFFFF;
    padding: 17px;
    text-align: center;
    font-family: 'Graphik Regular';
    font-size: 15px;
}

.c-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-texto {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    color: #FFFFFF;
    align-items: center;
}

.c-h2 {
    text-align: center;
    width: 65%;
    font-family: Graphik;
    font-size: 60px;
}

.c-paragrafo {
    padding: 3%;
    text-align: center;
    width: 60%;
    font-family: 'Graphik Regular';
}

.c-button {
    display: flex;
    flex-direction: row;
    gap: 20%;
}

.btn-1 {
    border: none;
    outline:none;
    background-color: #4452FE;
    color: #FFFFFF;
    width: 178px;
    height: 55px;
    transition-duration: 0.6s;
}

.btn-1:hover {
    background-color: #FFFFFF;
    border: 1px solid #4452FE;
    color: #181818;
    cursor: pointer;
}

.btn-2 {
    transition-duration: 0.4s;
    border: 1px solid #FFFFFF;
    outline:none;
    background-color: #181818;
    color: #FFFFFF;
    width: 178px;
    height: 58px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
}

.footer {
    padding-top:4%;
    display: flex;
    align-items: center;
}

.footer-img {
    margin-left: 15%;
    width: 70%;
	user-select: none;
    pointer-events: none;
}

.item-cabeçalho:hover{
    color: gray;
}

.button:hover{
    border: 1px solid gray;
    color: gray;
    cursor: pointer;
}

.btn-2:hover {
    border: 1px solid gray;
    color: gray;
    cursor: pointer;
}